/* =====================================
   Ayeyarwady Weather Times V3
   style.css
===================================== */

:root{
  --primary:#0ea5e9;
  --secondary:#0284c7;

  --bg:#f4f7fb;
  --card:#ffffff;

  --text:#0f172a;
  --text2:#64748b;

  --border:#dbe4ee;
}

body.dark{

  --bg:#0f172a;
  --card:#1e293b;

  --text:#f8fafc;
  --text2:#94a3b8;

  --border:#334155;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:var(--bg);

color:var(--text);

font-family:Arial,sans-serif;

transition:.3s;

}

/* Splash */

#splash{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:linear-gradient(135deg,#0284c7,#0ea5e9);

display:flex;

justify-content:center;

align-items:center;

color:white;

z-index:9999;

transition:.5s;

}

.splash-content{

text-align:center;

}

/* Header */

.header{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

background:var(--card);

box-shadow:0 2px 8px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:100;

}

.header h1{

font-size:20px;

}

.header-buttons{

display:flex;

gap:10px;

}

button{

background:var(--primary);

color:white;

border:none;

padding:10px;

border-radius:10px;

cursor:pointer;

}

/* Search */

#searchResult{
    position:absolute;
    width:100%;
    max-height:250px;
    overflow-y:auto;
    background:#fff;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    z-index:999;
}

.search-item{
    padding:12px;
    border-bottom:1px solid #eee;
    cursor:pointer;
}

.search-item:hover{
    background:#f2f2f2;
}

/* Card */

.card{

background:var(--card);

margin:15px;

padding:18px;

border-radius:15px;

box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.card h2{

margin-bottom:10px;

}

/* Weather */

#temperature{

font-size:50px;

font-weight:bold;

margin:15px 0;

color:var(--primary);

}

/* Forecast */

#forecast{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.forecast-item{

    background:#ffffff10;

    padding:12px;

    border-radius:10px;

    border:1px solid rgba(255,255,255,.1);

   }

/* Footer */

footer{

text-align:center;

padding:20px;

color:var(--text2);

font-size:14px;

}

/* Responsive */

@media(max-width:600px){

.header h1{

font-size:18px;

}

button{

padding:8px;

}

  }
